@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Lato:ital@1&display=swap");

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --font-poppins: "Poppins", "sans-serif";

  --btn-bg-color: #41a4ff;
  --btn-text-color: #fff;
  --error-color: #e86161;
  --gray-bg-color: #f6f7f9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
  color: #000;
}

b,
strong {
  font-weight: 700;
}

button {
  cursor: pointer;
  height: 3.2rem;
  width: max-content;
  padding: 9px 1.6rem;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
  gap: 6px;

  &:hover:not([disabled]) {
    opacity: 0.8;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &.primary {
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
    color: var(--btn-text-color);

    & span {
      color: var(--btn-text-color);
    }
  }

  &.secondary {
    background-color: var(--btn-text-color);
    border: 1px solid var(--btn-bg-color);
    color: var(--btn-bg-color);

    & span {
      color: var(--btn-bg-color);
    }
  }

  &.tertiary {
    background-color: transparent;
    border: 1px solid rgba(232, 97, 97, 0.3);
    color: var(--error-color);

    & span {
      color: var(--error-color);
    }
  }
}

input,
select,
textarea {
  width: 100%;
  background: #fff;
  border-radius: 1rem;
  border: 1px solid #bfbfc2;
}

input,
textarea {
  padding: 9px 1.6rem;
}

select {
  padding: 8px 1.6rem;
}

mat-sidenav.mat-drawer.mat-drawer-end {
  width: 50vw;
  max-width: 70rem;
  height: calc(100vh - 32px);
  border-radius: 1rem;
  right: 1.6rem;
  top: 1.6rem;
}

div.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 10px;
}

.mat-mdc-snack-bar-container.snackbar {
  margin-top: 2rem;
  --mdc-snackbar-container-shape: 1rem;
  --mdc-snackbar-supporting-text-color: var(--btn-text-color);
  --mat-snack-bar-button-color: #f4f4f4;

  &.snackbar-success {
    --mdc-snackbar-container-color: var(--btn-bg-color);
  }

  &.snackbar-error {
    --mdc-snackbar-container-color: var(--error-color);
  }
}

.recipes {
  &__title {
    grid-area: title;
    font-family: var(--font-poppins);
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.5rem;
  }
}

.close-button {
  fill: #2b2a35;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 36px;
  padding: 7.5px;
  border: 1px solid #d5d4d7;
  background: #fff;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  z-index: 100;
  cursor: pointer;
}
